section.section.bg-lightgray-2
    .container
        .row.justify-content-center
            .col-12
                h2 2 col content
        .row
            .col-12.col-lg-6
                h3 Space
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur cumque distinctio enim numquam pariatur quasi quidem tempore ut! Aliquam asperiores dolores doloribus eveniet natus nisi quas, quidem tempore voluptatibus!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur atque consectetur deserunt distinctio doloribus eum ex explicabo facere ipsa laboriosam modi perspiciatis placeat possimus quae quasi, repellat, voluptas.
            .col-12.col-lg-6
                +lazy-image-single-webp('images/common/img-4.jpg')