section.section.bg-lightgray-2
    .container
        .row.justify-content-center
            .col-12
                h2 2 col content
        .row
            .col-12.col-lg-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur cumque distinctio enim numquam pariatur quasi quidem tempore ut! Aliquam asperiores dolores doloribus eveniet natus nisi quas, quidem tempore voluptatibus!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur atque consectetur deserunt distinctio doloribus eum ex explicabo facere ipsa laboriosam modi perspiciatis placeat possimus quae quasi, repellat, voluptas.
            .col-12.col-lg-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque deleniti dignissimos harum hic illum incidunt ipsam optio pariatur, tenetur! Delectus deleniti eaque hic minus, modi mollitia necessitatibus nihil perferendis!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores dignissimos doloremque ducimus eos esse et laboriosam maxime nisi omnis pariatur quis quos ratione reprehenderit sequi suscipit, tempora, temporibus ullam.
