section.bg-lightgray.section
    .container
        .row.justify-content-center
            .col-12.col-md-6
                h2.copy-centered Accordion
        .row
            .col-12.col-md-8.col-lg-6
                .js-accordion.accordion

                    .accordion__item
                        .js-accordion-header.accordion__header.isActive
                            h4 header 1
                        .js-accordion-body.accordion__content.isActive
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at cupiditate deserunt dolore earum ex excepturi, fugit id iste iusto necessitatibus numquam odit pariatur quaerat quidem quos sint totam. Et!

                    .accordion__item
                        .js-accordion-header.accordion__header
                            h4 header 2
                        .js-accordion-body.accordion__content
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid architecto consequuntur cumque facilis, inventore laborum qui? At deleniti eaque illum ipsa necessitatibus nisi quidem sequi suscipit voluptatem voluptatibus?

                    .accordion__item
                        .js-accordion-header.accordion__header
                            h4 header 3
                        .js-accordion-body.accordion__content
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae, blanditiis corporis cumque dolore error ex exercitationem expedita harum illum incidunt iure necessitatibus quibusdam rem sit soluta temporibus vitae voluptas.