section.section.bg-lightgray
    .container
        .row.justify-content-center
            .col-12
                h2 Cards

        .row.justify-content-center
            .col-12.col-lg-4.mb-3
                +card(
                    'https://google.com',
                    'images/common/img-2.jpg',
                    'Case Study',
                    'Security Space',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur cumque distinctio enim numquam pariatur quasi quidem tempore ut!'
                )
            .col-12.col-lg-4.mb-3
                +card(
                    'https://google.com',
                    'images/common/img-1.jpg',
                    'Case Study',
                    'Developing Falcon',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam pariatur quasi quidem tempore ut!'
                )
            .col-12.col-lg-4.mb-3
                +card(
                    'https://google.com',
                    'images/common/img-3.jpg',
                    'Case Study',
                    'Commercial Rockets',
                    'Lorem ipsum dolor sit amet, consectetur adipisicing elit. E distinctio enim numquam pariatur quasi quidem tempore ut!'
                )