header.header
    .container
        .row.justify-content-between.align-items-center
            .col-auto
                .row.justify-content-between.align-items-center
                    .col-auto
                        include ../components/logo
                    .col-auto
                        include ../components/main-nav
            .col-auto.d-flex
                a(href="#").btn.btn--grey.d-none.d-lg-flex Get a demo
                include ../components/hamburger