section.hero
    .container
        .row
            .col-12.col-md-8.col-lg-6
                h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a(href="#").btn.btn--grey Get a demo