section.section.logos
    .container
        .row
            .logos__container
                .logos__logo
                    +icon('dropbox')
                .logos__logo
                    +icon('adobe')
                .logos__logo
                    +icon('zoom')
                .logos__logo
                    +icon('okta')
                .logos__logo
                    +icon('atlassian')
                .logos__logo
                    +icon('symantec')