nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="#").main-nav__link link1
        li.main-nav__item
            a(href="#").main-nav__link link2
        li.main-nav__item
            a(href="#").main-nav__link link3
        li.main-nav__item
            a(href="#").main-nav__link link4