extends includes/layout

include mixins/lazy-image-single
include mixins/lazy-image-single-webp
include mixins/flip-box
include mixins/rating
include mixins/card

block content
    include sections/hero
    include sections/logos
    include sections/tab
    include sections/2-col-content
    include sections/accordion
    include sections/flip-boxes
    include sections/3-col-content
    include sections/ratings
    include sections/2-col-content-img
    include sections/cards
